<%= form_with(model: article_type, local: true) do |form| %>
  <% if article_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_type.errors.count, "error") %> prohibited this article_type from being saved:</h2>

      <ul>
        <% article_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_name %>
    <%= form.text_field :type_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
