<p id="notice"><%= notice %></p>

<h1>Article Types</h1>

<table>
  <thead>
    <tr>
      <th>Type name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_types.each do |article_type| %>
      <tr>
        <td><%= article_type.type_name %></td>
        <td><%= link_to 'Show', article_type %></td>
        <td><%= link_to 'Edit', edit_article_type_path(article_type) %></td>
        <td><%= link_to 'Destroy', article_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article Type', new_article_type_path %>
