<p id="notice"><%= notice %></p>

<p>
  <strong>Type name:</strong>
  <%= @article_type.type_name %>
</p>

<%= link_to 'Edit', edit_article_type_path(@article_type) %> |
<%= link_to 'Back', article_types_path %>
