<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<%= react_component("ViewArticlesContainer", props: {articles: Article.all_articles}, prerender: false) %>

<br>

<%= link_to 'New Article', new_article_path %>
