<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Article type:</strong>
  <%= get_article_type_from_id(@article.article_type) %>
</p>

<p>
  <strong>Story:</strong>
  <%= get_story_name_from_id(@article.story_id) %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
