<p id="notice"><%= notice %></p>
<%= link_to('Articles', articles_path, method: :get) %>
<br>
<%= link_to('Article Types', article_types_path, method: :get) %>
<br>
<%= link_to('Stories', stories_path, method: :get) %>
