<!DOCTYPE html>
<html>
  <head>
    <title>Testmobx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'article-bundle' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js' %>
    <%= javascript_include_tag '//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
